@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-weight: bolder;
  font-optical-sizing: auto;
  height: 2000px;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: white;
  padding: 10px 25px;
  position: sticky;
  top: 0;
  margin-bottom: 0px;
  z-index: 2;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggle {
  margin-left: 10px;
}

.navbar-burger {
  border: none;
  background: none;
  cursor: pointer;
  size: 2vh;
}

.right-bar {
  display: flex;
  flex-direction: row;
}

.contact-btn {
  border-radius: 5px;
  background-color: white;
}

.contact-btn:hover {
  background-color: black;
  color: white;
}

.navbar-brand {
  text-decoration: none;
  color: #cc2b52;
  font-weight: 800;
}

.bar1,
.bar2,
.bar3 {
  border-radius: 8px;
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.navbar-brand {
  display: flex;
  flex-direction: row;
}

.offscreen-wrapper {
  z-index: 1;
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.5s ease;
}

.offscreen-wrapper.active{
  right: 0;
}

.hero-wrapper {
  height: 70vh;
  position: relative;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-wrapper > img {
  transition: transform 2s;
  transform: scale(1.2);
  top: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-content > h1,
h2 {
  margin: 0;
  font-size: 10vw;
  width: 100vw;
}

.highlight {
  color: #cc2b52;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.btn {
  margin-top: 2vh;
  width: 158px;
  height: 48px;
  border-radius: 0px;
  border-style: none;
  background-color: #cc2b52;
  color: white;
}
.btn:active {
  background-color: white;
  color: #cc2b52;
  border: #cc2b52 solid 2px;
}

.seperator-wrapper {
  background-color: white;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
